.blank_slate{
  width: 320px;
  left: 50%;
  top: 50%;
  margin:-160px 0 0 -50px;
  position: absolute;
  text-align: center;
  h2{
    color: #CDD2DB;
    display: block;
  }
  .icon-bubbles{
    font-size: 12em;
    opacity: .7;
    color: #CDD2DB;
  } 
}
