textarea, input[type="text"]{
  -webkit-appearance:none;
  border: 1px solid $light_gray;
  @include box-shadow(none);
  @include border-radius(4px);
  @include transition(all .2s ease);
}
.message_entry{
  position: relative;
  textarea{
    height: 32px;
    & + .btn{
      position: absolute;
      right: 3px;
      top: 3px;
      @include transition(all .2s ease);
      @include opacity(0.4);
    }
    &:focus{
      height: 80px;
      border: 1px solid $blue;
      @include box-shadow(inset 0 0px 5px rgba(saturate($blue, 100%), 0.37));
      & + .btn{
        @include opacity(0.5);
        display: block;
        &:hover{
          @include opacity(1);
        }
      }
    }
  }
}

.new_message{
  color: saturate($blue,50%);
}
