.navbar-fixed-bottom, .navbar-fixed-top,.navbar-static-top{
  .navbar-inner{
    @include box-shadow(none);
  }
}

.navbar-inner{
  @include background($navbarBackground);
  border:1px solid $navbarBorderColor;
  .container{
    width: auto;
    margin: 0 10px;
  }
}

.navbar-form{
  margin: 12px;
  input{
    font-size: 12px;
  }
}
